.sticky-header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 30;
    background-color: white;
    box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.2);
}


.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    border: 1px solid #181a1e;
    opacity: 100% !important;
    background-color: #fff !important;
}


@media only screen and (max-width: 768px) {
    .navigation {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background: #00000084;
        display: none;
    }

    .menu {
        width: 15rem;
        height: 100%;
        mask-position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        z-index: 200;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 30px;
    }

    .show-menu {
        display: block;

    }
}